# The ID of your GitHub App
APP_ID=
WEBHOOK_SECRET=development

# Use `trace` to get verbose logging or `info` to show less
LOG_LEVEL=debug

# Go to https://smee.io/new set this to the URL that you are redirected to.
# WEBHOOK_PROXY_URL=

# Redis Labs DB
REDIS_PORT=
REDIS_HOST=

# Sentry DSN https://sentry.io/dawn-5x/repo-ranger/
# Probot will automatically initialize Sentry: https://probot.github.io/docs/configuration/
SENTRY_DSN=

SEGMENT_WRITE_KEY=

# List of comma separated values
BETA_USERS=
