*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "Shenandoah";
    src: url("assets/Shenandoah.woff") format('woff');
    font-weight: 400;
}

html {
  color: white;
  background-color: #002c1c;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
  font-size: 75%;
  min-width: 320px;
}

@media (min-width: 768px) {
  html { font-size: 80%; }
}

@media (min-width: 1024px) {
  html { font-size: 90%; }
}

@media (min-width: 1200px) {
  html { font-size: 100%; }
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 1rem;
}

button, footer, header, nav, form {
  display: flex;
}

header {
  width: 100%;
  max-width: 912px;
  margin: 4rem 0 6rem;
  padding: 0 2rem;
  justify-content: center;
}

@media (min-width: 768px) {
  header {
    margin-bottom: 7rem;
    justify-content: space-between;
  }
}

nav {
  display: none;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  nav { display: flex; }
}

nav a {
  margin-left: 2rem;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 0.03rem;
}

nav a:hover {
  color: rgba(255,255,255,0.5);
}

footer {
  align-items: center;
  flex-direction: column;
  margin: 12rem 0;
}

p {
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0 0 1.875rem;
}

p, ul, ol {
  max-width: 40rem;
}

li {
  margin-bottom: 1rem;
}

h1, h2, h3, h4 {
  font-family: 'Shenandoah', sans-serif;
  color: #FDE106;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0 0 1.875rem;
}
h1 {
  font-size: 6vw;
  line-height: 1.2;
  letter-spacing: -0.1rem;
}

@media (min-width: 768px) {
  h1 { font-size: 3.25rem; }
}

h2 {
  font-size: 2.25rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1rem;
}

a {
  color: white;
  text-decoration: underline;
}

p a {
  margin: 0;
}

a:active {

}

a:hover {

}

img {
  max-width: 100%;
  user-select: none;
  -webkit-user-drag: none;
}

button, .button {
  display: flex;
  align-items: center;
  background: white;
  border: 0;
  border-radius: 4px;
  color: #002c1c;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.9rem;
  line-height: 1;
  justify-content: center;
  outline: 0;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  user-select: none;
}

.button img {
  width: 1.4rem;
  margin-right: 1rem;
}

.button {
  text-decoration: none;
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 10rem 1rem;
  max-width: 50rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo a {
  padding-top: 0.4rem;
  margin-right: .5rem;
  width: 9rem;
}

.logo span {
  opacity: 0.5;
  mix-blend-mode: overlay;
  margin-left: 0.25rem;
  margin-top: 0.12rem;
  font-size: 0.4em;
  font-weight: 600;
  letter-spacing: .01rem;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #fff;
  border-radius: 2px;
  padding: 0.125rem 0.25rem;
  user-select: none;
}

.footer-nav {
  margin-bottom: 2rem;
}

.footer-nav a {
  margin: 0 0.5rem;
}

.footer-author {
  color: rgba(255,255,255,.5);
}

.footer-author a {
  text-decoration: none;
  color: #FDE106;
}

.footer-author a:hover {
  color: #fff;
}

.last-modified {
  text-align: center;
}

.hire-dawn {
  background: #008f5a;
  color: #002c1c;
  text-align: center;
  padding: 0.8rem 1.25rem;
  border-radius: 4px;
  margin-top: 2rem;
}

.hire-dawn a {
  color: #002c1c;
}